#banner {
    position: relative;
    background-image: linear-gradient(to top right, #0000FF, #FF0000);
    width: auto;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  .title {
    margin: 0 250px;
    font-size: 120px;
    color: white;
    font-family: "Roboto Mono", monospace;
  }
  
  .logo {
    width: 359px;
    height: auto;
    position: relative;
    z-index: 1;
  }
  
  .logo::before {
    content: "";
    position: absolute;
    top: calc(50% - 40%);
    left: calc(50% - 40%);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 10px solid white;
    box-sizing: border-box;
    z-index: -1;
  }
  
  .line {
      position: absolute;
      bottom: 250px;
      left: 10px;
      width: 5px;
      height: 275px;
      background-color: black;
  }
  
  .box {
      background-image: linear-gradient(to bottom right, #D7EAD6, #D7EAD6);
      position: absolute;
      bottom: 250px;
      left: 30px;
      width: 240px;
      height: 275px;
      background-color: transparent;
      z-index: -1;
  }
  
  .image-wrapper {
      position: absolute;
      bottom: 350px;
      left: 80px;
      width: 145px;
      height: 153px;
  }
  
  .image-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .usrn-box {
      position: absolute;
      bottom: 265px;
      left: 30px;
      width: 240px;
      height: 82px;
      background-color: #FF0000;
  }
  
  .usrn {
      position: absolute;
      bottom: 215px;
      left: 75px;
      font-size: 64px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  .about-us {
      position: absolute;
      bottom: 410px;
      left: 300px;
      font-size: 60px;
      color: black;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .au-text {
      width: 1128px;
      height: 240px;
      overflow: auto;
      position: absolute;
      bottom: 193px;
      left: 300px;
      font-size: 24px;
      color: black;
      font-family: "Roboto Mono", monospace;
  }
  
  .ad-00 {
      position: absolute;
      bottom: 270px;
      left: 1545px;
      width: 365px;
      height: 275px;
      background-color: darkred;
  }
  
  .adt-00 {
      position: absolute;
      bottom: 270px;
      left: 1660px;
      font-size: 96px;
      color: white;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .red-box {
      position: absolute;
      left: 50px;
      width: 572px;
      height: 752px;
      background-color: red;
      margin-top: 500px; 
      
  }

  .blue-box {
      position: absolute;
      left: 675px;
      width: 572px;
      height: 752px;
      background-color: lightskyblue;
      margin-top: 500px; 
    
   }

   .yellow-box {
      position: absolute;
      left: 1300px;
      width: 572px;
      height: 752px;
      background-color: yellow;
      margin-top: 500px; 
    
   }   

   .bottom-box {
      position: relative;
      left: auto;
      width: auto;
      height: 265px;
      background-color: #611D1D;
      margin-top: 1500px;
   }
  